.image-row{
    display: flex;
}
.image-row img{
    max-width: 100%;
    height: auto;
    margin-right: 250px;
}
.primaimg{
    padding-left: 250px;
}
.text-row p{
    display: inline;
    padding-bottom: 50px;
    
    padding-left: 248px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.text2-row p{
    display: inline;
    margin-right: 10px;
    padding-left: 30px;
}
footer{
    border-bottom: 2px solid black;
    clear: both;
    margin-top: 100px;
    

}
.image2-row{
    max-width: 100%;
    display: flex;
    
}
.image2-row img{
    margin-right: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text3-row p{
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.salt{
    padding-left: 280px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.mountain{
    padding-left: 270px;
}
.tree{
    padding-left: 280px;
}
.br{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}